In [2]:
metin = "Yaşamak bir ağaç gibi tek ve hür ve bir orman gibi kardeşçesine"
metin[0:7:2]

'Yşmk'

In [5]:
metin.split()

['Yaşamak',
 'bir',
 'ağaç',
 'gibi',
 'tek',
 've',
 'hür',
 've',
 'bir',
 'orman',
 'gibi',
 'kardeşçesine']

In [6]:
metin.split("bir")

['Yaşamak ', ' ağaç gibi tek ve hür ve ', ' orman gibi kardeşçesine']

In [12]:
metin = "----------------Beşiktaş-------------------"
metin

'----------------beşiktaş-------------------'

In [21]:
metin.rstrip("-")

'----------------beşiktaş'

In [22]:
metin.upper()

'----------------BEŞIKTAŞ-------------------'

In [30]:
metin.lower()

'----------------beşiktaş-------------------'

In [33]:
metin = "yaşamak bir ağaç gibi tek ve hür ve bir orman gibi kardeşçesine"

In [36]:
metin.replace(" ","-")

'yaşamak-bir-ağaç-gibi-tek-ve-hür-ve-bir-orman-gibi-kardeşçesine'

In [38]:
metin.endswith("çe")

False

In [1]:
adi = input("Adı")
soyadi = input("Soyadı")
davet = "sayın {1} {0},sizi ve ailenizi aramızda görmekten mutluluk duyarız".format(adi,soyadi)

Adıad
Soyadısoyad

In [12]:
metin =  "1-2--"
davet.join(metin).split("-")

['1sayın soyad ad,sizi ve ailenizi aramızda görmekten mutluluk duyarız',
 'sayın soyad ad,sizi ve ailenizi aramızda görmekten mutluluk duyarız2sayın soyad ad,sizi ve ailenizi aramızda görmekten mutluluk duyarız',
 'sayın soyad ad,sizi ve ailenizi aramızda görmekten mutluluk duyarız',
 '']

In [41]:
metin.rfind("bir")

36

In [13]:
metin = "yaşamak bir ağaç gibi tek ve hür ve bir orman gibi kardeşçesine"

In [14]:
metin.replace(" ","-").replace("a","â")

'yâşâmâk-bir-âğâç-gibi-tek-ve-hür-ve-bir-ormân-gibi-kârdeşçesine'

In [20]:
adi = "deneme' OR '1'='1"
sorgu = "SELECT * FROM TABLO where ADI = '{}'".format(adi)
sorgu.replace("OR","")

"SELECT * FROM TABLO where ADI = 'deneme'  '1'='1'"

aaaa